table{
  /* border-collapse: collapse; */
  border-spacing: 0;
  width: 120%;
}
th, td{
  text-align: center;
  border-width: 1px /*0px*/;
  border-style: solid;
}
.yes{
  background: linear-gradient(135deg, #0000, #0003);
  background-color: #f55;
  border: 3px outset #f66;
  width: 1%;
}
.no{
  background: linear-gradient(135deg, #0003, #0000);
  background-color: #abf;
  border: 2px inset #bcf;
  width: 1%;
}
.yes2{
  background: linear-gradient(135deg, #0000, #0003);
  background-color: #f58;
  border: 3px outset #f69;
  width: 1%;
}
.no2{
  background: linear-gradient(135deg, #0003, #0000);
  background-color: #aef;
  border: 2px inset #bef;
}
.possibility{
  background: linear-gradient(135deg, #0003, #0000);
  background-color: #6f6;
  border: 2px inset #7f7;
}
.gairai{
  background-color: yellow;
}
.section{
  font-weight: bold;
}
.honyurui{
  background-color: sandybrown;
}
.kairui{
  background-color: cadetblue;
}
.tansuigyorui{
  background-color: cornflowerblue;
}
.ryoseiruihachurui{
  background-color: yellowgreen;
}
.konchurui{
  background-color: rosybrown;
}
.chorui{
  background-color: lightsteelblue;
}
.shokubutsu{
  background-color: palegreen;
}
.tab{
  width:50%;
  display:inline-block;
  text-align:center;
  font-size: 200%;
  background-color: white;
  box-sizing: border-box;
  height: 50px;
}
.tab.checked{
  background-color: #5bb;
}
.tab:hover {
  filter: brightness(80%);
}
.bar{
  width:100%;
  height: 5px;
  background-color: #5bb;
}
#exp{
  position:sticky;
  top: 55px;
  background-color: white;
}
.mapbutton{
  padding: 0;
  line-height: 0;
}
.big, option, select{
  font-size: 20px;
}
input[type=checkbox] {
  transform: scale(1.5);
}